################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MetalBroxstarChaos/v16/Server/sqlite3
/.vs/MetalBroxstarChaos
